body {
  padding-left: 30px;
  padding-right: 30px;
}

.source-canvas {
  width: 100%;
  border-width: 1px;
  border-color: black;
  border-style: solid;
}

.se-frame {
  display: inline-block;
  border-style: solid;
  border-color: rgba(0, 0, 0, .5);
  border-width: 1px;
}

.se-frame:hover {
  cursor: url('./img/trash.png') 0 0, pointer;
}

.se-card-separator {
  margin-bottom: 10px;
}
